  /* Main Apps */
  
  .slider-with-apps .apps ul
  {
    list-style: none;
  }
  /* .slider
  {
    width: 150px;
    height: 150px;
    margin: 40px 10px;
    border-radius: 20px;
    overflow-y: scroll;
  } */
  .slider img
  {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }


  .mainApps
  {
    margin-top: 55px;
    position: fixed;
    bottom: 2px;
    left: 2.5px;
  }
  .mainApps ul
  {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 3px 3px;
    background-color: rgba(26, 51, 51, 0.445);
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 35px;
    width: 270px;
  }

  .mainApps ul li
  {
    width: 55px;
    height: 55px;
    border: 1px solid;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-radius: 15px;
    cursor: pointer;
  }




    #phoneCall, #message
    {
      background-color: #00ff00;
      border: none;
    }

    #safari
    {
      background-color: #fff;
      border: none;
    }

    #cameraMain
    {
      background-color: #aca0a7;
      border: none;
    }
