

  .iosApps
  {
    margin: 20px 0px;
  }

  #iosApps ul
  {
    margin: 5px 10px;
  }

  


  .iosApps ul
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px;
  }

  .iosApps ul li
  {
    width: 55px;
    height: 55px;
    border: 1px solid;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-radius: 15px;
    margin: 0px 5px;
  }

  /* Main Apps */

  .mainApps
  {
    margin-top: 55px;
    position: fixed;
    bottom: 2px;
    left: 4px;
  }
  .mainApps ul
  {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 5px 5px;
    background-color: rgba(250, 255, 255, 0.171);
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 35px;
    width: 265px;
  }

  .mainApps ul li
  {
    width: 55px;
    height: 55px;
    border: 1px solid;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-radius: 15px;
    cursor: pointer;
  }

  section .display
  {
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    scroll-snap-type: mandatory;
  }

  ::-webkit-scrollbar {
    width: 0px; 
    height: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
    border-radius: 10px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
  .second-display 
  {
    width: 100%;
    /* margin: 0px 5px; */
  }
  .second-display .iosApps ul li
  {
    margin: 0px 5px;
  }

  .scroll-btn
  {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 42%;
  }
  .scroll-btn #main,
  .scroll-btn #secondDP 
  {
    width: 10px;
    height: 10px;
    background-color: #4763dd;
    display: block;
    border-radius: 50%;
    margin: 0px 3px;
    transition: .5s ease infinite;
  }

  .scroll-btn #secondDP
  {
    background-color: #ffffff;
  }





    #settings
    {
        background-color: rgb(92, 90, 90);
    }

    #settings
    {
      border: none;
    }
    #settings img
    {
      width: 65px;
    }
    #gallery
    {
      border: none;
    }
    #gallery img
    {
      width: 80px;
    }
    #music
    {
      background-color: #f13e3e;
      border: none;
    }
    #music i
    {
      color: #fff;
    }
    #camera
    {
      background-color: rgba(168, 165, 165, 0.849);
      border: none;
    }
    #email
    {
      background-color: #228BE6;
      border: none;
    }
    #email i
    {
      color: #fff;
    }