#call-section
{
    background: #000;
    color: #fff;
    /* display: none; */
}

#call-section nav
{
    color: #fff;
}
.call-title 
{
    border-radius: 0px 0px 35px 35px;
}
.call-title .contact-header
{
    width: 99.25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.795);
    backdrop-filter: blur(3px);
    position: absolute;
    top: 7%;
    left: .5%;
}

.call-title .sort-btn
{
    display: flex;
    background: rgb(46, 45, 45);
    border-radius: 10px;
}

.call-title .sort-btn p
{
    width: 60px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.defoult
{
    background: rgb(78, 74, 74);
    border-radius: 8px;
}

.call-title .back-btn i
{
    font-size: 23px;
    color: blue;
    cursor: pointer;
}

.call-title .change-btn p
{
    color: blue;
    font-size: 18px;
    cursor: pointer;
}

/* Contact */

#contact
{
    height: 490px;
    overflow-y: scroll;
    padding: 30px 0px;
    border-radius: 0px 0px 35px 35px;
}


::-webkit-scrollbar {
    width: 0px; 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }


#contact .contact-title
{
    padding: 20px 20px;
}
#contact .contact-title h1
{
    font-size: 40px;
    font-weight: 600;
}
#contact .contact-list
{
    display: flex;
}
#contact .contact-list .icon-call i
{
    margin: 0px 5px;
    color: #fff;
}

.call-list
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0px;
    border: .5px solid rgb(65, 63, 63);
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.call-list .user-name
{
    gap: 15px;
}
.call-list .user-name .region
{
    font-size: 13.5px;
    color: gray;
}

.call-list .user-info
{
    display: flex;
    align-items: center;
}

.call-list .user-info p
{
    font-size: 14px;
    color: gray;
}

.call-list .user-info i
{
    margin: 0px 8px;
    color: blue;
    font-size: 20px;
}

/* Call Manage */

.call-manage
{
    display: flex;
    justify-content: space-around;
    height: 52px;
    border-radius: 0px 0px 35px 35px;
    padding: 5px 0px;
    background: rgba(0, 0, 0, 0.63);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 91%;
    width: 100%;
}

.call-manage .favorite
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
}

.call-manage .favorite i
{
    font-size: 25px;
    cursor: pointer;
}

.call-manage .favorite p
{
    font-size: 9px;
    font-weight: bold;
    line-height: 15px;
    cursor: pointer;
}

.active
{
    color: blue;
}

/* Favorite Section */

.manage-section
{
    width: 100%;
    height: 445px;
    position: absolute;
    top: 7%;
    background: #000;
    display: none;
}

.manage-section .favorite-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.manage-section .favorite-header .plus-btn i
{
    font-size: 25px;
    color: blue;
    cursor: pointer;
}

.manage-section .favorite-header .title-favorite p
{
    font-size: 25px;
}

.center-info
{
    position: absolute;
    top: 50%;
    left: 25%;
    color: gray;
}

/* Contact Section */

.contact-section
{
    width: 100%;
    height: 445px;
    background: #000;
    position: absolute;
    top: 7%;
    overflow-y: scroll;
    border: 1px solid;
    /* display: none; */

}
.contact-section .contact-fixed
{
    position: sticky;
}

.contact-section .contact-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.contact-section .contact-header .back-btn i
{
    color: blue;
    font-size: 25px;
    cursor: pointer;
}
.contact-section .contact-header .contact-title p
{
    display: none;
    font-size: 22px;
}
.contact-section .contact-header .plus-btn i
{
    font-size: 25px;
    color: blue;
    cursor: pointer;
}

.contact-section .contact-name
{
    padding: 5px 10px;
}
.contact-section .contact-name p
{
    font-size: 28px;
}
.contact-section .contact-search
{
    padding: 10px;
}
.contact-section .contact-search input
{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 0px 5px;
    outline: none;
    font-size: 18px;
    background-color: lightgray;
}

.sticky
{
    /* position: sticky; */
}



.contact-section .contact-search i:first-child
{
    color: gray;
    font-size: 20px;
    position: absolute;
    z-index: 999;
    top: 23%;
    left: 5%;

}

.contact-section .contact-search i:last-child
{
    color: gray;
    font-size: 20px;
    position: absolute;
    top: 23%;
    left: 90%;

}

/* Contact List */

.contact-section .people-list 
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 10px;
}
.contact-section .people-list .people-name
{
    width: 100%;
    margin: 30px 0px;
}
.contact-section .people-list .people-name .letter
{
    margin: 10px 0px;
    color: gray;
    border-bottom: .5px solid rgb(65, 63, 63);
}

.contact-section .people-list .people-name .person-name
{
    padding: 5px 0px;
    border-bottom: .5px solid rgb(65, 63, 63);
}
.contact-section .people-list .upper-letter
{
    position: fixed;
    left: 95%;
    top: 35%;
}
.contact-section .people-list .upper-letter ul li
{
    text-transform: uppercase;
    font-weight: bold;
    color: blue;
    font-size: 8.5px;
    margin: 1.5px 2px;
}