
#iosMenu
{
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
.display{
    width: 100%;
    height: auto;
    border: 1px solid red;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    width: 0px; 
    height: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
    border-radius: 10px;
    
  }
.second-display
{
    width: 100%;
    border: 1px solid;
}