@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300;500;700&family=JetBrains+Mono:wght@200&family=Poppins:ital,wght@0,300;0,500;1,400;1,600&family=Smokum&family=Ubuntu:wght@400;500;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body
{
    font-family: 'Ubuntu', sans-serif;
    background-image: linear-gradient(to top right, rgb(219, 16, 16), rgb(22, 15, 229));
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* .iPhone
{
    width: 23vw;
    height: 80vh;
    border: 1px solid;
    border-radius: 20px;
}
 */

 .container
 {
    position: relative;
    width: 300px;
    height: 550px;
    perspective: 1000px;
 }

 .model
 {
    width: 300px;
    height: 550px;
    transform-style: preserve-3d;
    transform: rotateY(deg);
    /* animation: anime 10s ease infinite; */
 }

 @keyframes anime {
    0%
    {
        transform: rotateX(0deg);
    }

    100%
    {
        transform: rotateY(360deg);
    }
 }



 .side
 {
    position: absolute;
    width: 300px;
    height: 550px;
    border: 2.5px solid rgb(77, 90, 107);
    background-color: rgba(0, 0, 0, 0.11);
    /* text-align: center; */
    /* line-height: 300px; */
 }

 .front
 {
    transform: translateZ(20px);
    border-radius: 35px;
    background-color: #000;
    padding: 8px;
 }

 

 .back
 {
    transform: rotateY(180deg) translateZ(20px);
    border-radius: 35px;
    background-color: rgb(23, 30, 39);
 }

 .right
 {
    transform: rotateY(90deg) translateZ(278px);
    width: 40px;
    height: 500px;
    margin: 25px 0px;
    background-color: rgb(23, 30, 39);
    border: 1px solid rgb(77, 90, 107);
    border-top: none;
    border-bottom: none;
 }

 .left
 {
    transform: rotateY(-90deg) translateZ(18px);
    width: 40px;
    height: 500px;
    margin: 25px 0px;
    border: 1px solid rgb(77, 90, 107);
    border-top: none;
    border-bottom: none;
    background-color: rgb(23, 30, 39);


 }

 .top
 {
    transform: rotateX(90deg) translateZ(18px);
    height: 40px;
    width: 250px;
    margin: 0px 26px;
    border: 1px solid rgb(77, 90, 107);
    border-left: none;
    border-right: none;
    background-color: rgb(23, 30, 39);
 }


 .bottom
 {
    transform: rotateX(-90deg) translateZ(528px);
    height: 40px;
    width: 250px;
    margin: 0px 26px;
    border: 1px solid rgb(77, 90, 107);
    border-left: none;
    border-right: none;
    background-color: rgb(23, 30, 39);
 }

 .camera
 {
    width: 145px;
    height: 145px;
    /* border: 1px solid; */
    border-radius: 35px;
    margin: 10px;
    background-color: rgb(37, 46, 58);
    -webkit-box-shadow: 0px 0px 2px 4px rgba(158, 161, 163, 0.2);
    -moz-box-shadow: 0px 0px 2px 4px rgba(158, 161, 163, 0.2);
    box-shadow: 0px 0px 2px 4px rgba(158, 161, 163, 0.2);
 }

 .circle-camera
 {
    width: 60px;
    height: 60px;
    border: 3px solid rgba(143, 140, 140, 0.712);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 30, 39);
    
 }

 .circle-camera:first-child
 {
    margin: 5px;
    position: relative;
 }

 .circle-camera:nth-child(2)
 {
    margin-left: 75px;
    margin-top: -25px;
 }

 .circle-camera:nth-child(3)
 {
    margin-top: -20px;
    margin-left: 5px;
 }


 .first-circle
 {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(43, 54, 68);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
 }

 .second-circle
 {
    width: 35px;
    height: 35px;
    border: 1px solid rgb(43, 54, 68);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .end-circle
 {
    width: 20px;
    height: 20px;
    /* border: 1px solid; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 58, 70);
    
 }

 .last-circle
 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(6, 2, 190, 0.719);
 }
 .flashLight
 {
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 50%;
    margin-left: 100px;
    margin-top: -20px;
    background: #fff;
 }

.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.logo i
{
    font-size: 85px;
    color: lightslategrey;
}
.firstScreen
{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-radius: 35px;
    background-image: url(/Image/font.jpg);
    background-size: cover;
    position: relative;
    display: none;
}
.self-camera
{
    width: 80px;
    height: 20px;
    background: #000;
    border-radius: 20px;
    margin: 10px 0px;
}

.center-date
{
    width: 95%;
    border-radius: 20px;
    height: 100px;
    /* border: 0.5px solid rgba(0, 0, 0, 0.288); */
    margin-top: -200px;
    padding: 5px 10px;
    background-color: rgba(128, 120, 120, 0.247);
    backdrop-filter: blur(20px);
}

.center-date h1
{
    font-size: 45px;
}

.center-date p
{
    font-size: 20px;
}

.bottom-line
{
    width: 50%;
    border: 3px solid rgba(255, 255, 255, 0.5);
    background-color: #fff;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    margin: 5px 0px;
}

/* Password Section */

.password-section
{
    width: 95%;
    height: 97%;
    position: absolute;
    top: 8px;
    left: 8px;
    border-radius: 35px;
    backdrop-filter: blur(10px);
    /* background-color: rgba(2, 2, 2, 0.171); */
}

.password-section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

.title h1
{
    color: #fff;
    margin-left: 70px;
    position: absolute;
    top: 100px;
}

.password-display
{
    margin: 100px auto;
}

.password-display input
{
    outline: none;
    border: none;
    background: none;
    font-size: 25px;
    text-align: center;
    line-height: 20px;
    width: 200px;
    height: 30px;
    margin-left: 40px;
    margin-top: 60px;
    letter-spacing: 10px;
}
.numbers 
{
    margin-top: -10px;
    position: absolute;
    left: 8%;
    bottom: 5%;
}
.numbers ul
{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.numbers ul li
{
    margin: 0px 15px;
    font-size: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(211, 211, 211, 0.295);
    backdrop-filter: blur(10px);
    color: #fcfcfc;
    transition: .3s ease;
    cursor: pointer;
}

.numbers ul li:hover
{
    background-color: rgba(150, 142, 142, 0.63);

}


